@page
@model LearnAutoMapper.Pages.CaseAModel
@{
    ViewData["Title"] = "CaseA - Simple Mapping";
}

<h1>@ViewData["Title"]</h1>
<a href="setup">&lt;-- Previous</a>
|
<a href="caseb">Next --&gt;</a>
<h3>1:1 property mapping between Person Entity and PersonDTO.</h3>
<p>In this case, there is a 1:1 mapping between the fields in Person and those in PersonDTO. By default, since AutoMapper was initialized in Startup.cs with the line  <ul>services.AddAutoMapper(typeof(Startup));</ul> it is loaded with an understanding of the schemas of all the objects in the project. </p>
<div class="text-center">
    <pre>Person Entity: @Html.Raw(Json.Serialize(Model.MyEntity))</pre>
    <pre>PersonDTO: @Html.Raw(Json.Serialize(Model.MyDTO))</pre>
</div>
<a href="setup">&lt;-- Previous</a>
|
<a href="caseb">Next --&gt;</a>
