@page
@model LearnAutoMapper.Pages.CaseDModel
@{
    ViewData["Title"] = "CaseD - Simple Flattening";
}

<h1>@ViewData["Title"]</h1>
<a href="casec">&lt;-- Previous</a>
|
<a href="casee">Next --&gt;</a>
<h3>Entity's Address is flattened to the properties AddressStreet and AddressTown in the DTO.</h3>
<p>No custom mapping is needed in this case as long as the names fit the convention, i.e. Entity.A.B -> DTO.AB </p>
<div class="text-center">
    <pre>Person Entity: @Html.Raw(Json.Serialize(Model.MyEntity))</pre>
    <pre>PersonDTO: @Html.Raw(Json.Serialize(Model.MyDTO))</pre>
</div>
<a href="casec">&lt;-- Previous</a>
|
<a href="casee">Next --&gt;</a>
