@page

@model LearnAutoMapper.Pages.CaseCModel
@{
    ViewData["Title"] = "Case C - PersonDTO is a superset of Person";
}

<h1>@ViewData["Title"]</h1>
<a href="caseb">&lt;-- Previous</a>
|
<a href="cased">Next --&gt;</a>
<h3>PersonDTO has all properties in Person, has additional properties as well.</h3>

<div class="text-center">
    <pre>Person Entity: @Html.Raw(Json.Serialize(Model.MyEntity))</pre>
    <pre>PersonDTO: @Html.Raw(Json.Serialize(Model.MyDTO))</pre>
    @if (TempData["Exception"] != null)
    {
        <p>@TempData["Exception"]</p>
    }
</div>
<a href="caseb">&lt;-- Previous</a>
|
<a href="cased">Next --&gt;</a>
