@page
@model LearnAutoMapper.Pages.CaseBModel
@{
    ViewData["Title"] = "Case B - Person is a superset of PersonDTO";
}

<h1>@ViewData["Title"]</h1>
<a href="casea">&lt;-- Previous</a>
|
<a href="casec">Next --&gt;</a>
<h3>Person has all properties in PersonDTO, has additional properties as well.</h3>
<div class="text-center">
    <pre>Person Entity: @Html.Raw(Json.Serialize(Model.MyEntity))</pre>
    <pre>PersonDTO: @Html.Raw(Json.Serialize(Model.MyDTO))</pre>
</div>
<a href="casea">&lt;-- Previous</a>
|
<a href="casec">Next --&gt;</a>
