@page
@model IndexModel
@{
    ViewData["Title"] = "Using AutoMapper in Razor Pages - A Primer";
}
<h1>@ViewData["Title"]</h1>

    <p>This is a simple site that tries to help you (me) get started using AutoMapper. I am focusing on ASP.NET Core 2.2, using Razor Pages.</p>

    <ul>
        <li><a href="setup">Setup</a></li>
        <li><a href="casea">Case A - Simple Mapping - 1:1 property mapping between Person Entity and PersonDTO</a></li>
        <li><a href="caseb">Case B - Simple Mapping - Person is a superset of PersonDTO</a></li>
        <li><a href="casec">Case C - Custom Mapping - PersonDTO is a superset of Person</a></li>
        <li><a href="cased">Case D - Flattening Mapping - Person</a></li>
        <li><a href="casee">Case E - Simple Mapping</a></li>
    </ul>
<a href="setup">Next --&gt;</a>
